body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

.square {
    margin: 1%;
    background: white;
    height: 30%;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
}

h1 {
    margin: 0;
    background-color: rgb(93, 151, 199);
    color: white;
    padding: 20px 0;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

#colorDisplay {
    font-size: 200%;
}

#menu {
    background: white;
    height: 30px;
    text-align: center;
}

.selected {
    background: rgb(93, 151, 199);
    color: white;
}

button {
    color: rgb(93, 151, 199);
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: rgb(93, 151, 199);
}

#message {
    display: inline-block;
    width: 20%;
}
